:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 210 40% 96%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;
  --radius: 0.5rem;
  --chart-1: 220 70% 50%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%;
  --animate-pulse: pulse var(--duration) ease-out infinite;
  --animate-shimmer-slide: shimmer-slide var(--speed) ease-in-out infinite alternate;
  --animate-spin-around: spin-around calc(var(--speed) * 2) infinite linear;
  --color-1: hsl(0, 100%, 63%);
  --color-2: hsl(270, 100%, 63%);
  --color-3: hsl(210, 100%, 63%);
  --color-4: hsl(195, 100%, 63%);
  --color-5: hsl(90, 100%, 63%);
  --animate-rainbow: rainbow var(--speed, 2s) infinite linear;
  --animate-rippling: rippling var(--duration) ease-out;
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  --primary-rgb: 222.2, 47.4%, 11.2%;
  --primary-color: hsl(222.2, 47.4%, 11.2%);
}

.dark {
  --background: 222 47% 4%;
  --foreground: 210 40% 98%;
  --card: 222 47% 5%;
  --card-foreground: 210 40% 98%;
  --popover: 222 47% 5%;
  --popover-foreground: 210 40% 98%;
  --primary: 210 40% 98%;
  --primary-foreground: 222 47% 11%;
  --secondary: 217 33% 12%;
  --secondary-foreground: 210 40% 98%;
  --muted: 217 33% 12%;
  --muted-foreground: 215 20% 65%;
  --accent: 217 33% 12%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 63% 31%;
  --destructive-foreground: 210 40% 98%;
  --border: 217 33% 17%;
  --input: 217 33% 17%;
  --ring: 212 27% 84%;
  --chart-1: 220 70% 50%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%;
  --color-1: hsl(0, 100%, 63%);
  --color-2: hsl(270, 100%, 63%);
  --color-3: hsl(210, 100%, 63%);
  --color-4: hsl(195, 100%, 63%);
  --color-5: hsl(90, 100%, 63%);
  --primary-rgb: 0, 0%, 98%;
  --primary-color: hsl(0, 0%, 98%);
}